body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #000, #444);
    color: #fff;
}

#tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background: linear-gradient(to right, #222, #444);
    color: #fff;
}

.cell:hover {
    background: linear-gradient(to right, #333, #555);
}

#replay-button {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(to right, #444, #666);
    color: #fff;
    border: none;
    cursor: pointer;
}

#replay-button:hover {
    background: linear-gradient(to right, #555, #777);
}
